<h1>Sign up</h1>

<%= form_for @user, html: { class:"form-horizontal"} do |f|%> 
<!-- creat user from user controller user class form-horizontal and save all in |f|--> 

<% if @user.errors.any? %> <!-- ger @user from user controller --> <!-- any if have something return true if not return fault -->
  <div id="error_explanation">
  <div class="alert alert-error">
    The from contains <%= pluralize(@user.errors.count, "error") %>.
  </div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <%= f.text_field :name%> <!-- get variable from form and name from model-->
    </div>
 </div>

<div class="control-group">
   <label class="control-label">Email</label>
   <div class="controls">
     <%= f.text_field :email%> <!-- get variable from form and name from model-->
   </div>
 </div>

<div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <%= f.password_field :password%> <!-- get variable from form and name from model-->
    </div>
</div>

<div class="control-group">
    <label class="control-label">Password Comfirmation</label>
    <div class="controls">
    	<%= f.password_field :password_confirmation%> <!-- get variable from form -and name from model-->
    </div>
</div>

<div class="control-group">
   <div class="controls"> 
     	<%= f.submit "Sign up", class: 'btn' %> <!--class (css class) = fill color from http://twitter.github.com/bootstrap/base-css.html#buttons-->
   </div>
</div>

<%= link_to 'Back', users_path %>

<%end%>
